@charset "utf-8";
/*basic.css*/
.ecup_section {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.ecup_section .blind {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.ecup_section .statement_layer {
	position: absolute;
	top: 140px;
	right: 100px;
	width: 30%;
}
.ecup_section .statement_layer.naver .layer{
	border-color: #00c73c;
}
.ecup_section .layer {
	padding: 5%;
	border: 1px dotted #000;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.8);
}
.ecup_section .layer .title {
	display: block;
}
.ecup_section .layer .event_btn {
	display: block;
}
.ecup_section .layer_btn {
	position: absolute;
	top: 100px;
	right: 100px;
	width: 64px;
	height: 30px;
	border: 0;
	background: transparent url('../img/btn_on_64x64.png') no-repeat 50% 50%;
}
.ecup_section .layer_btn.off {
	background-image: url('../img/btn_off_64x64.png');
}
