@charset "utf-8";
/*basic.css*/
.blind {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

/*in-external layer*/
.ecup_section {

}
.ecup_section.external {
	display: none;
}
.ecup_section .statement_layer {
	position: fixed;
	width: 30%;
	z-index: 2;
}
.ecup_section .statement_layer.naver .layer{
	border-color: #00c73c;
}
.ecup_section .statement_layer.naver .event_btn{
	background-color: #00c73c;
}
.ecup_section .statement_layer.pink .layer{
	border-color: #ea447cdb;
}
.ecup_section .statement_layer.pink .event_btn{
	background-color: #ea447cdb;
}
.ecup_section .dimmed {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: 1;
}
.ecup_section .layer {
	overflow: hidden;
	position: relative;
	padding: 5%;
	border: 1px dotted #000;
	border-radius: 10px;
	margin-bottom: 10px;
}
.ecup_section .layer:before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #fff;
	opacity: 0.8;
	z-index: -1;
	content: '';
}
.ecup_section .layer .title {
	display: block;
}
.ecup_section .layer .event_btn {
	display: block;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	border: 0;
	border-radius: 5px;
	background-color: #269fd6;
	color: #fff;
}
.ecup_section .layer_btn {
	position: fixed;
	top: 60px;
	right: 100px;
	width: 64px;
	height: 30px;
	border: 0;
	background: transparent url('../img/btn_on_64x64.png') no-repeat 50% 50%;
	z-index: 2;
}
.ecup_section .layer_btn.off {
	background-image: url('../img/btn_off_64x64.png');
}

/*designer comment*/
.ecup_comment_section {

}
.ecup_comment {
	position: absolute;
}
.ecup_comment .comment_btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	background: transparent url('../img/btn_comment_24x24.png') no-repeat 50% 50%;
	border: 0;
}
.ecup_comment .comment_area {
	display: none;
	position: absolute;
	top: 0;
	left: 30px;
	width: 100px;
	padding: 0 20px;
	z-index:1 ;
}
.ecup_comment .comment_area:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 27px;
	height: 18px;
	background: transparent url('../img/comment_topleft.png') no-repeat 50% 50%;
	content: '';
}
.ecup_comment .comment_area:after {
	position: absolute;
	left: 9px;
	bottom: 0;
	width: 18px;
	height: 18px;
	background: transparent url('../img/comment_bottomleft.png') no-repeat 50% 50%;
	content: '';
}
.ecup_comment .outer_comment:before {
	position: absolute;
	top: 0;
	right: 2px;
	width: 18px;
	height: 18px;
	background: transparent url('../img/comment_topright.png') no-repeat 50% 50%;
	content: '';
}
.ecup_comment .outer_comment:after {
	position: absolute;
	right: 2px;
	bottom: 0;
	width: 18px;
	height: 18px;
	background: transparent url('../img/comment_bottomright.png') no-repeat 50% 50%;
	content: '';
}
.ecup_comment .inner_comment {
	padding: 20px 0;
	border: 1px solid #e0dfdf;
	border-width: 1px 0;
	background-color: #fff;
}
.ecup_comment .inner_comment:before {
	position: absolute;
	top: 18px;
	left: 9px;
	bottom: 18px;
	width: 11px;
	border-left: 1px solid #e0dfdf;
	background-color: #fff;
	content: '';
}
.ecup_comment .inner_comment:after {
	position: absolute;
	top: 18px;
	right: 2px;
	bottom: 18px;
	width: 17px;
	border-right: 1px solid #e0dfdf;
	background-color: #fff;
	content: '';
}