body,header,main,section,h1,h2,h3,h4,h5,ol,li,p {margin:0;padding:0;}
body {font-family:NanumGothic, sans-serif;font-size:16px;line-height:1.8;color:#666;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
li {list-style:none;}
p strong {font-weight:normal;color: #d95140;}
p a {color:#5384ec;}
p em {font-style:normal;text-decoration:underline;}
.tc {text-align:center;}
.f-n {font-weight:normal;}

.tit {font-weight:normal;letter-spacing:1px;}
.code {font-family: 'Roboto Mono', monospace;vertical-align:top;}
.bold {font-weight: bold;}

.__anchor_layer__ {position:fixed;bottom:40px;right:40px;padding:10px;border-radius:10px;background-color:#fff;}
.__anchor_layer__ a {display:block;text-align:right;color:#333;}

.header {background:#333;}
.header .inner {width:980px;height:60px;margin:0 auto;padding:0 20px;background:#333;}
.header .tit {height:60px;font-size:24px;line-height:65px;color:#fff;}
.header .tit .kr {font-size:21px;}

.container {width:980px;margin:0 auto;padding:35px 20px;}

.section_intro {padding:0 20px;}
.section_intro .tit {height:45px;margin:0 -20px;padding:0 15px;background:#00cc27;font-size:20px;line-height:50px;color:#fff;}
.section_intro .develop_name {margin-top:20px;font-size:25px;}
.section_intro .develop_summary {word-wrap:break-word;word-break:keep-all;}
.section_intro .develop_list {margin:20px -10px -10px;padding:10px;border-radius:1px;background:#f5f5f5;}
.section_intro .develop_list .link_direct {display:inline-block;box-sizing:border-box;height:28px;color:#555;}
.section_intro .develop_list .link_direct:hover {border-bottom:1px solid;text-decoration:none;color:#555;}
.section_intro .develop_list .link_direct:hover::before {background:#555;}
.section_intro .develop_list .list_sub {padding-left:20px;}
.section_intro .develop_list .item {margin-top:5px;}
.section_intro .develop_list .item:first-child {margin-top:0px;}
.section_intro .list_sub .link_direct {color:#999;}
.section_intro .list_sub .link_direct::before {content:'';display:inline-block;width:3px;height:3px;margin:13px 11px 0 0;border-radius:50%;background:#999;vertical-align:top;}

.content {margin-top:50px;}
.content .area_tab {border-bottom:1px solid #555;}
.content .area_tab::after {content:'';display:block;clear:both;}
.content .tab {float:left;height:40px;padding:0 60px;border:1px solid #555;border-width:1px 1px 0 0;font-weight:500;font-size:16px;line-height:40px;color:#555;}
.content .tab:first-child {border-left:1px solid #555;}
.content .tab.on {background:#555;color:#fff;}

.area_content {padding:35px 20px;}
.area_content .tit_content {margin-bottom:30px;font-weight:bold;font-size:20px;}

.section_content {margin-bottom:77px;}
.section_content .s1 {font-size:0.9em;}
.section_content .t1 {padding-left:1.5em;}
.section_content .tit {padding:3px 7px;background-color:#f2f2f2;font-size:18px;border-bottom:1px solid;}
.section_content .inner {margin-top:7px;padding-left:15px;}
.section_content .box_code {margin-top:10px;padding:10px 15px;border-radius:7px;background-color:#333;font-family: 'Roboto Mono', monospace;color:#d2d2d2;}
.section_content .box_code p {white-space:pre-wrap;}
.section_content .box_code a {color:#d2d2d2;}
.section_content .box_code .cm {color:#929292;}
.section_content .box_code .id {color:#cc7832;}
.section_content .box_code .str {color:#6a8759;}
.section_content .box_code .fn {color:#e8bf6a;}
.section_content .box_code .tag {color:#e8bf6a;}
.section_content .box_code .val {color:#a5c65a;}
.section_content .mg_top1 {margin-top:10px;}
.section_content .mg_top2 {margin-top:20px;}

.section_content .table {width:100%;table-layout:fixed;border-collapse:collapse;}
.section_content .table .box_code {border-radius:0;color:#666;}
.section_content .table th {padding:10px 15px;border:1px solid #ddd;background-color:#f5f5f5;}
.section_content .table td {padding:10px 15px;border:1px solid #ddd;background-color:#fff;}
.section_content .table .tc:last-child {font-size: 14px;}
