body,header,main,section,h1,h2,h3,h4,h5,ul,ol,li,p {margin:0;padding:0;}
body {font-family:NanumGothic, sans-serif;font-size:16px;line-height:1.8;color:#666;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
li {list-style:none;}
p strong {font-weight:normal;color: #d95140;}
p a {color:#5384ec;}
p em {font-style:normal;text-decoration:underline;}
.tc {text-align:center;}
.f-n {font-weight:normal;}

.tit {font-weight:normal;letter-spacing:1px;}
.code {font-family: 'Roboto Mono', monospace;vertical-align:top;}
.bold {font-weight: bold;}

.header {background:#333;}
.header .inner {width:980px;height:60px;margin:0 auto;padding:0 20px;background:#333;}
.header .tit {height:60px;font-size:24px;line-height:65px;color:#fff;}
.header .tit .kr {font-size:21px;}

.container {width:980px;margin:0 auto;padding:35px 20px;}

.section_intro {padding:0 20px;}
.section_intro .tit {height:45px;margin:0 -20px;padding:0 15px;background:#00cc27;font-size:20px;line-height:50px;color:#fff;}
.section_intro .develop_name {margin-top:20px;font-size:25px;}
.section_intro .develop_summary {word-wrap:break-word;word-break:keep-all;}
.section_intro .develop_list {margin:20px -10px -10px;padding:10px;border-radius:1px;background:#f5f5f5;}
.section_intro .develop_list .link_direct {display:inline-block;box-sizing:border-box;height:28px;color:#555;}
.section_intro .develop_list .link_direct:hover {border-bottom:1px solid;text-decoration:none;color:#555;}
.section_intro .develop_list .link_direct:hover::before {background:#555;}
.section_intro .develop_list .list_sub {padding-left:20px;}
.section_intro .develop_list .item {margin-top:5px;}
.section_intro .develop_list .item:first-child {margin-top:0px;}
.section_intro .list_sub .link_direct {color:#999;}
.section_intro .list_sub .link_direct::before {content:'';display:inline-block;width:3px;height:3px;margin:13px 11px 0 0;border-radius:50%;background:#999;vertical-align:top;}

.content {margin-top:50px;}
.content .area_nav {width: 980px;background-color: #fff}
.content .area_nav.nav_fixed {position: fixed; top: 0; box-shadow: 0 4px 6px -6px #222; -webkit-box-shadow: 0 4px 6px -6px #222; -ms-box-shadow: 0 4px 6px -6px #222}
.content .area_nav.nav_fixed { padding: 10px 0 10px;}
.content .area_nav.nav_fixed:hover {padding-bottom: 0}
.content .area_nav.nav_fixed .area_sub_tab {display: none;}
.content .area_nav.nav_fixed:hover .area_sub_tab {display: block;}
.content .area_nav.nav_fixed + .area_content {margin-top: 149px;}
.content .area_tab {overflow: hidden; display:table; width:100%;border-radius: 20px 20px 0 0; }
.content .area_tab::after {content:'';display:block;clear:both;}
.content .area_tab .tab {display:table-cell;height:40px;padding:0 60px;font-weight:500;font-size:16px;line-height:40px;color:#555; background: #f5f5f5}
/* .content .area_tab .tab:first-child {border-left:1px solid #555;} */
.content .area_tab .tab.on {background:#555;color:#fff;}
.content .area_sub_tab {margin:15px 10px;}
.content .area_sub_tab::after {content:'';display:block;clear:both;}
.content .area_sub_tab .tab {float:left;margin-right:14px;padding: 5px 18px;border:1px dashed #ccc;border-radius:20px;background-color:#fcfcfc;line-height:30px;color:#555;}

.area_content {padding:35px 20px;}
.area_content .tit_content {margin-bottom:30px;font-weight:bold;font-size:20px;}
.area_content .section_container {overflow: hidden}

.section_content {margin-bottom:77px;}
.section_content .s1 {font-size:0.9em;}
.section_content .t1 {padding-left:1.5em;}
.section_content .tit {white-space: pre; padding:3px 7px 10px;background-color:#fefefe;font-size:20px;font-weight:800;border-bottom:1px solid #ccc;}
.section_content .tit .point {color: #00cc27};
.section_content .inner {margin-top:7px;padding: 0 10px;}
.section_content .box_code {margin-top:10px;padding:10px 15px;background-color:#333;font-family: 'Roboto Mono', monospace;color:#d2d2d2;}
.section_content .box_code p {white-space:pre-wrap;}
.section_content .box_code a {color:#d2d2d2;}
.section_content .box_code .cm {color:#929292;}
.section_content .box_code .id {color:#cc7832;}
.section_content .box_code .str {color:#6a8759;}
.section_content .box_code .fn {color:#e8bf6a;}
.section_content .box_code .tag {color:#e8bf6a;}
.section_content .box_code .val {color:#a5c65a;}
.section_content .mg_top1 {margin-top:10px;}
.section_content .mg_top2 {margin-top:20px;}
.section_content i {font-style:normal; }
.section_content .option_box { padding: 20px; margin: 15px 0 25px; background: #f6f6f6; }
.section_content .option_box .options{margin-bottom: 10px;padding-top: 10px; border-top:  1px dashed #e3e3e3;}
.section_content .option_box .options:first-child{padding-top: 0;border-top: 0;}
.section_content .option_box ul { margin-top: 10px; margin-left: 20px;}
.section_content .option_box li {padding: 10px 0; border-top: 1px solid #eee}
.section_content .option_box .option_name{font-weight: bold}
.section_content .option_box .option_name i {font-weight: normal; font-size: 12px;}
.section_content .option_box .option_type{font-size: 12px;}
.section_content .option_box .option_detail{padding-left: 20px; font-size: 15px;}
.section_content .option_box .option_detail .option_desc{margin-top: 10px;font-size: 14px;color: #407ad9; font-weight: bold}
.section_content .option_more_desc{margin-bottom: 30px; padding-left: 25px; text-indent: -25px;}
.section_content .option_box + .option_more_desc a strong{text-decoration: underline;}
.section_content .option_box ~ .option_more_desc strong{font-weight: bold;}

.section_content .table {width:100%;table-layout:fixed;border-collapse:collapse;}
.section_content .table .box_code {border-radius:0;color:#666;}
.section_content .table th {padding:10px 15px;border:1px solid #ddd;background-color:#f5f5f5;}
.section_content .table td {padding:10px 15px;border:1px solid #ddd;background-color:#fff;}
.section_content .table .tc:last-child {font-size: 14px;}
