@charset "utf-8";

.__NTS_markup__ {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    overflow-y: auto;
    width: 100%;
    background-color: #2a2a2a;
    font-size: 15px;
    line-height: 1.5;
    color:#d2d2d2;
}

.__NTS_markup__ h2 {
    padding: 0.8em 0.7em 0.6em;
    font-family: NanumGothic, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    background-color: #3c3f41;
    color:#dadada;
}

.__NTS_markup__ a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.6em 0.8em;
    padding-right: 0.4em;
    background-color: #5c5c5c;
    border-radius: 0.2em;
    font-family: NanumGothic, sans-serif;
    font-size: 1em;
    line-height: 2em;
    white-space: nowrap;
    color: #c7c7c7;
}

.__NTS_markup__ a:hover {
    text-decoration: underline;
}

.__NTS_markup__ strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.8em;
    background-color: #d2d2d2;
    padding: 0.3em 0.7em;
    font-weight: normal;
    font-size: 1em;
    white-space: nowrap;
    color: #333;
}

.__NTS_markup__ .__area_btns__ {
    padding: 1.2em 1.5em 0.2em;
}

.__NTS_markup__ .__area_btn__ {
    margin-bottom: 1.2em;
    border-radius: 0.2em;
    background-color:#444;
}

.__NTS_markup__ .__area_single__ {
    padding: 0.4em 0;
}

.__NTS_markup__ .__area_group__ {
    padding-bottom: 0.3em;
}

.__NTS_markup__ .__view__ {
    float: left;
    width: 1em;
    height: 2em;
    text-align: center;
}

.__NTS_markup__ .__btn__::before {
    content: '';
    font-weight: bold;
    color: #b7b7b7;
}

.__NTS_markup__ .__chbox__, .__NTS_markup__ .__radio__ {
    width: 2em;
}

.__NTS_markup__ .__chbox__::before {
    content: '\2713';
    font-size: 1.5em;
    color: #4a4a4a;
}

.__NTS_markup__ .__radio__::before {
    content: '';
    display:inline-block;
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    background-color: #4a4a4a;
}

.__NTS_markup__ .__checked__ .__chbox__::before {
    color: #b7b7b7;
}

.__NTS_markup__ .__checked__ .__radio__::before {
    background-color: #b7b7b7;
}

